<ngx-bootstrap-spinner></ngx-bootstrap-spinner>
<h1></h1>
<form [formGroup]="creatOrEditForm" (ngSubmit)="onSaveUser()">
    <div class="form-group">
      <label for="name">name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        placeholder="User Name"
       formControlName="name"
      />
      <small id="helpId" class="text-muted" 
      *ngIf="creatOrEditForm.get('mobile').touched && creatOrEditForm.get('name').invalid"
        >please enter correct user name!</small
      >
    </div>
    <div class="form-group">
      <label for="mobile">mobile</label>
      <input
        type="text"
        id="mobile"
        name="mobile"
        class="form-control"
        placeholder="Mobile Number"
        formControlName="mobile"

      />
      <small id="helpId" class="text-muted" 
      *ngIf="creatOrEditForm.get('mobile').touched && creatOrEditForm.get('mobile').invalid"
        >please enter correct mobile number!</small
      >
    </div>
    <div class="form-group" *ngIf="mode=='create'">
      <label for="password">password</label>

      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        placeholder="password"
        formControlName="password"
      />
      <small id="helpId" class="text-muted" 
      *ngIf="creatOrEditForm.get('password').touched && creatOrEditForm.get('password').invalid"
        >please enter a valid password!</small
      >
    </div>
    <div class="form-group" *ngIf="mode=='edit'">
      <label for="">select role</label>
      <select class="form-control" (change)="onChangeRole($event)" id="" formControlName="role">
        <option *ngFor="let role of roles" >{{role}}</option>
      </select>
    </div>
    <div class="form-group">
      <button  class="btn btn-primary form-control">
        save 
      </button>
    </div>
  </form>
  