<ngx-bootstrap-spinner></ngx-bootstrap-spinner>

<div class="container">
    <h1 >Users</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>userName</th>
                <th>user mobile</th>
                <th>role</th>
                <!-- <th>edit user</th>
                <th>Delete user</th> -->
            </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <tr >
                <!-- <td scope="row"></td> -->
                <td>{{user.name}}</td>
                <td>{{user.mobile}}</td>
                <td>{{user.role}}</td>
                <td>
                    <!-- <a [routerLink]="['edit',user._id]" class="btn btn-warning">Edit</a> -->
                    <a  (click)="openModalWithComponent('edit',user._id,'Update User')" class="btn btn-warning">Edit</a>

                </td>
                <td>

                    <!-- <button class="btn btn-danger"(click)="onDeleteUser(user._id)">Delete</button> -->
                    <button class="btn btn-danger"(click)="openModal(template)">Delete</button>
                    <ng-template #template>
                        <div class="modal-body text-center">
                          <p>Do you want to remove {{user.name}}?</p>
                          <button type="button" class="btn btn-danger m-3" (click)="confirm(user._id)" >Yes</button>
                          <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
                        </div>
                      </ng-template>
                </td>
            </tr>
           
        </tbody>
    </table>

    <!-- <a class="btn btn-primary" [routerLink]="['create']"  >create user</a> -->
    <a  (click)="openModalWithComponent('create',null,'Create User')" class="btn btn-primary">create user</a>

</div>
<router-outlet></router-outlet>
